@import "../common/colors.less";

.blog-articles {
	margin-right: 255px;
	
	ARTICLE {
		margin: 0 25px 50px 0;
		position: relative;
		overflow: hidden;
		
		&:hover {
			.edit-article, .remove-article {				
				transform: translateY(0);
			}
		}
	}
	
	.article-text {
		padding: 15px 0;
		font-size: 12px;
		line-height: 16px;
		text-align: justify;
	}
	
	BUTTON {
		margin-bottom: 30px;
	}
	
	.edit-article, .remove-article {
		position: absolute;
		top: 0;
		background-color: #d6dee6;
		transform: translateY(-40px);
		transition: transform 0.4s;
		
		A {
			color: #fff;
			display: inline-block;
			padding: 5px 9px;
		}
		
		&:hover {
			background-color: rgba(0,0,0,0.7);
		}
	}
	
	.remove-article {
		right: 0;
	}
	
	.edit-article {
		right: 33px;
	}
}
		
FIGURE {
	IMG {
		width: 100%;
		display: block;
	}
	
	FIGCAPTION {
		font-family: "Arial Narrow", Arial, sans-serif;
		font-size: 20px;
		font-weight: bold;
		padding: 14px 0;
		
		.blog-title {
			color: @textBlogColor;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}	
		
.article-data {
	padding: 15px 5px;
	border-bottom: 1px solid @borderArticleColor;
	border-top: 1px solid @borderArticleColor;
	position: relative;
	
	&-item {
		display: inline-block;
		color: @textBlogColor;
		font-size: 12px;
		padding-right: 16px;
		
		& .date-time-icon, & .author-icon {
			padding-left: 20px;
		}
		
		.author-link:hover {
			text-decoration: underline;
		}
		
		&.social {
			position: absolute;
			top: 8px;
			right: 0;
			padding-right: 0;
		}
	}
}